.asteroid {
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
  background: rgb(80, 95, 79);
  z-index: 10;
  -webkit-animation: spin 20s linear infinite;
  -moz-animation: spin 20s linear infinite;
  animation: spin 20s linear infinite;
}

@-moz-keyframes spin { 
  from { -moz-transform: rotate(0rad); }
  to { -moz-transform: rotate(6.28rad); } 
}
@-webkit-keyframes spin { 
  from { -webkit-transform: rotate(0rad)}
  to { -webkit-transform: rotate(6.28rad); } 
}
@keyframes spin { 
  from { -webkit-transform: rotate(0rad); transform:rotate(0rad); }
  to { -webkit-transform: rotate(6.28rad); transform:rotate(6.28rad); } 
}

@-moz-keyframes spin-back { 
  from { -moz-transform: rotate(0rad); }
  to { -moz-transform: rotate(-6.28rad); } 
}
@-webkit-keyframes spin-back { 
  from { -webkit-transform: rotate(0rad)}
  to { -webkit-transform: rotate(-6.28rad); } 
}
@keyframes spin-back { 
  from { -webkit-transform: rotate(0rad); transform:rotate(0rad); }
  to { -webkit-transform: rotate(-6.28rad); transform:rotate(-6.28rad); } 
}