.bullet {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  z-index:5;
  animation: blinker .2s linear infinite;
  background: #F00;
}

@keyframes blinker {  
  50% { background: #FFEE00; }
}