.bullet {
  position: absolute;
  z-index: 9;
  animation: blinker .2s linear infinite;
  background: #F00;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@keyframes blinker {  
  50% { background: #FFEE00; }
}