.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
  background: #eee;
  border-left: 1px solid #ddd;
}

form {
  margin: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 2px;
}

.chat-title {
  text-align: center;
  line-height: 60px;
}

.messages {
  flex: 1;
  list-style-type: none;
  overflow-y: scroll;
}

.messages li {
  padding: 7px 10px;
}

.messages li:nth-child(odd) {
  background: #ddd;
}
