.hud {
  z-index: 100;
  padding: 20px 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: auto;
  width: 200px;
  color: white;
}

.hud p {
  text-align: center;
}

.hud hr {
  margin: 5px;
  border: 0;
  height: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.hud ul {
  margin: 0 5px 0 5px;
}

.hud li {
  list-style-type: none;
  font-size: 0.8em;
}

.hud .right {
  float: right
}

.wasted {
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 35vh;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 3em;
}
