body {
	background: linear-gradient(
		-45deg, 
		rgba(238, 48, 23, 0.9), 
		rgba(238, 45, 122, 0.9), 
		rgba(9, 156, 209, 0.9), 
		rgba(17, 228, 175, 0.9)
	);
	background-size: 5000px 5000px;
	/*-webkit-animation: GradientRotation 15s ease infinite;
	-moz-animation: GradientRotation 15s ease infinite;
	animation: GradientRotation 15s ease infinite;*/
}

.map {
  	position: absolute;
  	height: 5000px;
	width: 5000px;
	border: 5px solid white;
	background: url("img/map.png");
}

@-webkit-keyframes GradientRotation {
	0% {
    	background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes GradientRotation {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes GradientRotation {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
