.player {
  position: absolute;
  text-align: center;
  -ms-transform: translate(-50%, -10px);
  -webkit-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
  z-index: 9;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.ship-wrapper {
  display: inline-block;
  -webkit-transform-origin: 50% 12px;
  transform-origin: 50% 12px;
}

.ship {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #5cf442;
  box-shadow: 0 0 6px #5cf442;
}

.barrel {
  height: 8px;
  width: 6px;
  margin: 0 0 -6px 7px;
  background-color: #f4ac41;
}

.name {
  display: block;
  color: rgba(255,255,255,.8);
}

.bullet {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #fff;
  position: absolute;
}